@charset "utf-8"
/* @import url('jquery-ui.css');
@import url('all.css');
@import url('font.css');
@import url('bootstrap.min.css';) */
/*********************************************************/
/*	reset */
/*********************************************************/

body {-webkit-text-size-adjust:none} /* 뷰표트 변환시 폰트크기 자동확대 방지 */
/** * 1. 기본 글꼴을 sans-serif로 설정. * 2. iOS와 IE에서 기기 회전시에 사용자가 확대하지 않아도 글씨 크기가 재조정되는 것을 예방. */
html { font-family: sans-serif; /* 1 */ -ms-text-size-adjust: 100%; /* 2 */ -webkit-text-size-adjust: 100%; /* 2 */line-height:1; background-color: #fff;} 
html,body{height:100%; width: 100%;}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin: 0;padding: 0;border: 0;vertical-align: baseline}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
dl,ul,ol,menu,li {list-style:none}
img {border:0}
blockquote, q {quotes: none}
blockquote:before, blockquote:after,q:before, q:after {content: '';content: none}
input,select,textarea,button {vertical-align:middle;border:0; font-family:'Noto Sans KR'}
button {border:0 none;background-color:transparent;cursor:pointer}
body {font-size:16px;line-height:1;font-family:'Noto Sans KR',Arial, sans-serif;color:#333;-webkit-text-size-adjust:none;}
a {color:#333;text-decoration:none;outline:none;}
a:active, a:hover {text-decoration:none}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}
table {border-collapse:collapse;border-spacing: 0}
td, th { padding: 0}
caption, legend {display:none}
form fieldset{border:0}
audio:not([controls]) { display: none; height: 0} 

* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; }
*:before,
*:after{ -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
a{ -webkit-transition: all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;-ms-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out; transition:all 0.2s ease-in-out; }
.blind {position: absolute;overflow: hidden;width: 1px;height: 1px;padding: 0;margin-top: -1px;font-size: 0;line-height: 0;text-indent: -9999px;}


/* select */
select{z-index:100;width:100%;padding:0px 8px;border-radius:8px;border:1px solid #e5e5e5; height:50px;-webkit-appearance:none;background:#fff url(../images/common/selct_arrow_btn.png) no-repeat 91% 50%; background-size:9px 6px;font-family:'MICE','Roboto','Arial', sans-serif; font-size:15px;color:#656565;}
select.familyselect{z-index:100;width:180px;padding:0px 8px; border:1px solid #e5e5e5; height:40px;-webkit-appearance:none;border-radius:0px;background:#fff url(../images/common/selct_arrow_btn.png) no-repeat 91% 50%; background-size:9px 6px;font-family:'MICE','Roboto','Arial', sans-serif; font-size:15px;color:#656565;}
select::-ms-expand{display:none;}
input[type=text],input[type=password]{border:1px solid #d5dee8; height:40px;width:100%;padding:0 0 0 8px;border-radius:4px;-webkit-appearance:none;vertical-align:middle;font-family:'Noto Sans KR','Arial', sans-serif;box-sizing : border-box;font-size:15px;color:#656565;}
input.spot[type=text],input.spot[type=password]{border:1px solid #e4e6e8; height:50px;width:100%;padding:0 0 0 8px;border-radius:8px;-webkit-appearance:none;vertical-align:middle;font-family:'Noto Sans KR','Arial', sans-serif;box-sizing : border-box;font-size:16px;color:#a8b6c7;}
input.msize[type=text]{border:1px solid #e5e5e5; height:33px;width:210px;padding:0 0 0 8px;border-radius:0px;-webkit-appearance:none;vertical-align:middle;font-family:'Noto Sans KR','Arial', sans-serif;box-sizing : border-box;font-size:13px;color:#a8b6c7;}
input.id[type=text]{border:1px solid #e4e6e8; height:50px;width:100%;padding:0 0 0 35px;border-radius:8px;-webkit-appearance:none;vertical-align:middle;font-family:'Noto Sans KR','Arial', sans-serif;box-sizing : border-box;font-size:16px;background:url('../images/common/icon_id.png') 10px center no-repeat;background-size:10px 12px;color:#969696;}
input.pwd[type=password]{border:1px solid #e4e6e8; height:50px;width:100%;padding:0 0 0 35px;border-radius:8px;-webkit-appearance:none;vertical-align:middle;font-family:'Noto Sans KR','Arial', sans-serif;box-sizing : border-box;font-size:16px;background:url('../images/common/icon_pwd.png') 10px center no-repeat;background-size:11px 13px;color:#969696;}
input.id_none[type=text]{border:1px solid #e4e6e8; height:50px;width:100%;padding:0 0 0 18px;border-radius:8px;-webkit-appearance:none;vertical-align:middle;font-family:'Noto Sans KR','Arial', sans-serif;box-sizing : border-box;font-size:16px;color:#969696;}
input.pwd_none[type=password]{border:1px solid #e4e6e8; height:50px;width:100%;padding:0 0 0 18px;border-radius:8px;-webkit-appearance:none;vertical-align:middle;font-family:'Noto Sans KR','Arial', sans-serif;box-sizing : border-box;font-size:16px;color:#969696;}

textarea{width:100%;padding:10px 10px;border:1px solid #ccc;margin:0 0 0 0;box-sizing:border-box;resize:none;font-size:13px;font-family: 'Noto Sans KR', Arial;letter-spacing:-.5px;color:#2e3a59; -webkit-appearance: none;}
input[type=text]:focus,
input[type=password]:focus{border-color:#e4e6e8;}
input[type=image]{border:none;background:none;}
input[type=text]:read-only{ background-color:#f5f6fa;}
input[type=password]:-ms-input-placeholder{font-size:16px;}
input[type=password]::-moz-placeholder{font-size:16px;}
input[type=password]::-webkit-input-placeholder{font-size:16px;}
:-ms-input-placeholder{color:#969696!important; line-height:40px; vertical-align:middle;}
::-moz-placeholder{color:#969696 !important; line-height:40px; vertical-align:middle;}
:-moz-placeholder{color:#969696 !important; line-height:40px; vertical-align:middle;}
::-webkit-input-placeholder{ color:#969696 !important; vertical-align:middle; font-weight:normal;}
input.faq_placeholder:-ms-input-placeholder{color:#969696!important; line-height:40px; vertical-align:middle;letter-spacing:-.5px;font-size:13px!important;}
input.faq_placeholder::-moz-placeholder{color:#969696 !important; line-height:40px; vertical-align:middle;letter-spacing:-.5px;font-size:13px!important;}
input.faq_placeholder:-moz-placeholder{color:#969696 !important; line-height:40px; vertical-align:middle;letter-spacing:-.5px;font-size:13px!important;}
input.faq_placeholder::-webkit-input-placeholder{ color:#969696 !important; vertical-align:middle; font-weight:normal;letter-spacing:-.5px;font-size:13px!important;}
input[type=text]::-ms-clear{display:none;}
input:focus{outline:none;}
textarea:focus{outline:none;}


/************************************************
	label
************************************************/
.label{ display: inline-block;}
.label + .label{ margin-left: 10px;}
input[type=checkbox],input[type=radio]{ position:absolute;overflow:hidden; width:1px; height:1px; text-indent:-10000px; -ms-appearance:none; -webkit-appearance:none; -moz-appearance:none; appearance:none;opacity:0 !important;}
input[type=checkbox] + label,
input[type=radio] + label{ position: relative; display:inline-block;font-size:15px;color: #333;}
input.popfoot[type=checkbox] + label{ position: relative; display:inline-block;font-size:15px;color: #fff;}
input[type=checkbox] + label::before{ content:""; display:inline-block; width:22px; height:22px; margin-right:8px; border-radius: 4px; border:solid 1px #d4d4d5; vertical-align:-4px; background-color:#fff;position:relative;top:1px;}
input.m[type=checkbox] + label{ position: relative; color: #333; font-size: 14px; display:inline-block;}
input.m[type=checkbox] + label::before{ content:""; display:inline-block; width:16px; height:16px; margin-right:4px; border-radius: 4px; border:solid 1px #d4d4d5; vertical-align:-2px; background-color:#fff;}
input.m[type=checkbox]:checked + label::after{ content: ''; transform: rotate(-45deg); height: 7px; width: 10px; border-bottom: #0c8fa0 2px solid; border-left: #0c8fa0 2px solid; display: inline-block; position: absolute; top: 50%; margin-top: -4px; left: 3px;}
input.switch[type=checkbox] + label{ position: relative; color: #333; font-size: 14px; display:inline-block;}
input.switch[type=checkbox] + label::before{ content:""; display:inline-block; width:40px; height:20px; margin-right:4px; border-radius: 50px; border:solid 1px #d4d4d5; vertical-align:-2px; background-color:#ddd;}
input.switch[type=checkbox] + label::after{content:'';position:absolute;top:3px;left:3px;width:16px; height:16px;border-radius:100%;background-color:#fff;transition:all .3s ease-in;}
input.switch[type=checkbox]:checked + label::after{ content: '';position:absolute;top:9px;left:22px ;width:16px; height:16px;background-color:#fff;border-radius:100%;border:none;}
input.switch[type=checkbox]:checked + label::before{ content:""; display:inline-block; width:40px; height:20px; margin-right:4px; border-radius: 50px; border:solid 1px #3f91a7; vertical-align:-2px; background-color:#3f91a7;}
input[type=radio] + label::before{ content:""; display:inline-block; width:16px; height:16px; margin-right:4px; border:solid 1px #aaa; vertical-align:-2px; background-color:#fff;border-radius:18px;}
input[type=checkbox]:disabled + label::before,
input[type=radio]:disabled + label::before{ opacity: 1; cursor:default;}
input[type=checkbox]:checked + label::before{ /*border-color:transparent;*/ background-color:#fff; cursor:default;}
input[type=checkbox]:checked + label::after{ content: ''; transform: rotate(-45deg); height: 9px; width: 15px; border-bottom: #348eee 2px solid; border-left: #348eee 3px solid; display: inline-block; position: absolute; top: 50%; margin-top: -6px; left: 4px;}
input[type=radio]:checked + label::before{background:url(../images/common/element_radio.png) no-repeat center;background-size:14px 14px;}
input[type=radio] + label,
input[type=checkbox] + label{ margin-right:0px;}



/*align*/
.txt_c{text-align: center;}
.v_m{vertical-align:middle;}

/* margin */
.mg0{margin:0 !important;}
.mt-1{ margin-top: -1px !important;}
.mt0{ margin-top:0 !important;}
.mt5{ margin-top:5px !important;}
.mt10{ margin-top:10px !important;}
.mt15{ margin-top:15px !important;}
.mt17{ margin-top:17px !important;}
.mt20{ margin-top:20px !important;}
.mt25{ margin-top:25px !important;}
.mt30{ margin-top:30px !important;}
.mt40{ margin-top:40px !important;}
.mt50{ margin-top:50px !important;}
.mt70{ margin-top:70px !important;}
.ml3{ margin-left:3px !important;}
.ml5{ margin-left:5px !important;}
.ml7{ margin-left:7px !important;}
.ml10{ margin-left:10px !important;}
.ml11{ margin-left:11px !important;}
.ml20{ margin-left:20px !important;}
.ml25{ margin-left:25px !important;}
.ml30{ margin-left:30px !important;}
.mr2{ margin-right:2px !important;}
.mr3{ margin-right:3px !important;}
.mr4{ margin-right:4px !important;}
.mr5{ margin-right:5px !important;}
.mr7{ margin-right:7px !important;}
.mr10{ margin-right:10px !important;}
.mr15{ margin-right:15px !important;}
.mr20{ margin-right:20px !important;}
.mr23{ margin-right:23px !important;}
.mr30{ margin-right:30px !important;}
.mb7{margin-bottom:7px;}
.pt0{ padding-top:0 !important;}
.pt3{ padding-top:3px !important;}
.pt7{ padding-top:7px !important;}
.pr50{ padding-right:50px !important;}
.pb0{ padding-bottom:0 !important;}
.pb3{ padding-bottom:3px !important;}
.pb15{ padding-bottom:15px !important;}
.pl0{ padding-left:0 !important;}
.pl5{ padding-left:5px !important;}
.pl10{ padding-left:10px !important;}
.pl15{ padding-left:15px !important;}
.pl40{ padding-left:40px !important;}
.pl80{ padding-left:80px !important;}
.pr0{ padding-right:0 !important;}
.pr10{ padding-right:10px !important;}
.pr15{ padding-right:15px !important;}

/* btn */
.button{position:relative;top:-2px;display:inline-block; line-height:20px; height:20px;width:70px;border:1px solid #000;-webkit- border-radius:0px;-moz- border-radius:0px; border-radius:0px; margin:0; background-color:#fff;-webkit-transition: all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;-ms-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; font-weight:400; text-align:center; vertical-align:middle;font-size:12px;color:#fff;}
.button:hover{ background-color: #333;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.button.logout{position:relative;display:inline-block; line-height:26px; height:26px;width:63px;border:0px solid #000;-webkit- border-radius:4px;-moz- border-radius:4px; border-radius:4px; margin:0; background-color:#c70101;-webkit-transition: all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;-ms-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; font-weight:400; text-align:center; vertical-align:middle;font-size:13px;color:#fff;}
.button.logout:hover{ background-color: #ad0000;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.button.sublogin{position:relative;display:inline-block; line-height:50px; height:50px;min-width:100%;border:0px solid #000;-webkit- border-radius:4px;-moz- border-radius:4px; border-radius:4px; margin:0; background-color:#c70101;-webkit-transition: all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;-ms-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; font-weight:400; text-align:center; vertical-align:middle;font-size:16px;color:#fff;}
.button.sublogin:hover{ background-color: #a60000;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.button.logname{position:relative;display:inline-block; line-height:26px; height:26px;width:63px;border:0px solid #000;-webkit- border-radius:4px;-moz- border-radius:4px; border-radius:4px; margin:0; background-color:#174a7e;-webkit-transition: all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;-ms-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; font-weight:400; text-align:center; vertical-align:middle;font-size:13px;color:#fff;}
.button.logname:hover{ background-color: #062a4e;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.button.menu{position:relative;display:inline-block; line-height:27px; height:27px;width:64px;border:0px solid #000;margin:0; background-color:#4b4b4b;-webkit-transition: all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;-ms-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; font-weight:400; text-align:center; vertical-align:middle;font-size:12px;color:#fff;}
.button.menu:hover{ background-color: #c70101;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.button.direct{position:relative;display:inline-block; line-height:27px; height:27px;width:64px;border:1px solid #ddd;margin:0;-webkit- border-radius:3px;-moz- border-radius:3px; border-radius:3px; background-color:transparent;-webkit-transition: all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;-ms-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; font-weight:400; text-align:center; vertical-align:middle;font-size:12px;color:#646464;}
.button.direct:hover{ background-color:transparent;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;color:#000;}
.button.elcmenu{position:relative;display:inline-block; line-height:27px; height:27px;width:64px;border:0px solid #000;margin:0; background-color:#4b4b4b;-webkit-transition: all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;-ms-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; font-weight:400; text-align:center; vertical-align:middle;font-size:12px;color:#fff;}
.button.elcmenu:hover{ background-color: #c70101;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.button.idsearch{position:relative;display:inline-block; line-height:50px; height:50px;min-width:100%;border:0px solid #000;-webkit- border-radius:4px;-moz- border-radius:4px; border-radius:4px; margin:0; background-color:#c70101;-webkit-transition: all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;-ms-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; font-weight:500; text-align:center; vertical-align:middle;font-size:16px;color:#fff;}
.button.idsearch:hover{ background-color: #ad0000;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.button.logmove{position:relative;display:inline-block; line-height:50px; height:50px;min-width:100%;border:0px solid #000;-webkit- border-radius:4px;-moz- border-radius:4px; border-radius:4px; margin:0; background-color:#174a7e;-webkit-transition: all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;-ms-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; font-weight:500; text-align:center; vertical-align:middle;font-size:16px;color:#fff;}
.button.logmove:hover{ background-color: #062a4e;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.button.ertification{position:relative;top:-1px;display:inline-block; line-height:50px; height:50px;min-width:90px;border:0px solid #000;-webkit- border-radius:4px;-moz- border-radius:4px; border-radius:4px; margin:0; background-color:#39465C;-webkit-transition: all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;-ms-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; font-weight:500; text-align:center; vertical-align:middle;font-size:16px;color:#fff;}
.button.ertification:hover{ background-color: #121b2c;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.button.pobtn_sm{position:relative;top:0px;display:inline-block; line-height:34px; height:34px;min-width:80px;border:0px solid #000;-webkit- border-radius:4px;-moz- border-radius:4px; border-radius:4px; margin:0; background-color:#1559ac;-webkit-transition: all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;-ms-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; font-weight:500; text-align:center; vertical-align:middle;font-size:14px;color:#fff;}
.button.pobtn_sm:hover{ background-color: #023879;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}